<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hi.dhl.startup.library">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- Automatically Initialize -->
            <meta-data
                android:name="com.hi.dhl.startup.library.LibaryC"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.hi.dhl.startup.library.LibaryD"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>
</manifest>