<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hi.dhl.hilt.appstartup">

    <application
        android:name="com.hi.dhl.hilt.HiltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.hi.dhl.hilt.appstartup.init.AppInitializer"
                android:value="androidx.startup" />
        </provider>
        <activity
            android:name=".ui.HitAppCompatActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".init.WorkContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />
    </application>

</manifest>